<div style="background-color: black;" class="container-fluid">
    <footer class="container text-center ">

        <a href="#">
            <img height="50px" src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Insta.png" alt="">
        </a>
        <a href="#">
            <img height="50px" src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Lnkdin.png" alt="">
        </a>
        <a href="#">
            <img height="50px" src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/FB.png" alt="">
        </a>


        <div class="row container" id="footlinks">
            <div class="col-lg-2 col-sm-6 col-md-4 col-xs-6">
                <a href="">ABOUT</a>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4  col-xs-6">
                <a href="">CARE</a>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4 col-xs-6">
                <a href="">returns</a>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4  col-xs-6">
                <a href="">production</a>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4  col-xs-6">
                <a href="">terms</a>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4   col-xs-6">
                <a href="">get help</a>
            </div>
        </div>
    </footer>
</div>