<!-- the homepage -->
<div class="align-items-center">
  <img style="width: 100%;position: relative;" bind-src="home1bg" class="img-fluid">
  <!-- the div inside the image -->
  <div id="banner1div"
    class="justify-content-center align-items-center offset-lg-5 offset-md-4 col-md-12 md-mt-5 col-sm-12 sm-mt-5">
    <div style="margin-top: 10px;">
      <label id="p1">Choose Class</label><br>
      <label id="p2">over the common</label>


    </div>
    <a id="college" routerLink="/college" style="position: absolute;">
      <span>acecraft for colleges</span>
      <span><i id="collegeid" class="fa-solid fa-chevron-right"></i></span>
    </a>
  </div>

  <!-- start of second layer -->
  <div id="twocards" class="container-fluid ">
    <div class="row">

      <div class="col-lg-6 col-sm-6">
        <div class="card col-lg-6 col-sm-6" style="width: 100%; height: 700px;">
          <img id="schoolsImg" class="card-img-top  img-fluid" bind-src="layer2bg" alt="Card image cap">
          <div class="card-img-overlay text-center">
            <div id="l3card" class="col-lg-6 col-md-6 offset-lg-3">
              <p class="card-text text-secondary fs-3 fw-lighter ">A grade</p>
              <p class="card-text text-secondary fs-2 fw-bold ">of Greatness.</p>
            </div>
            <div class="card-text col-12">
              <a routerLink="school" id="college">
                <span>acecraft for schools</span>
                <span><i id="collegeid" class="fa-solid fa-chevron-right"></i></span>
              </a>
            </div>
          </div>
          <!-- <a href="#">Ace</a> -->
        </div>
      </div>


      <div class="col-lg-6 col-sm-6">
        <div class="card col-lg-6 col-sm-6" style="width: 100%;padding: 0px; height: 700px;">
          <img id="schoolsImg" class="card-img-top img-fluid" bind-src="layer2bg2" alt="Card image cap">

          <div class="card-img-overlay text-center">
            <div id="l3card" class="col-lg-6 offset-lg-3">
              <p class="card-text text-secondary fs-3 fw-lighter ">workwear</p>
              <p class="card-text text-secondary fs-2 fw-bold ">redefined</p>
            </div>
            <div class="card-text col-12">
              <a routerLink="enterprise" id="college">
                <span>acecraft for enterprises</span>
                <span><i id="collegeid" class="fa-solid fa-chevron-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>