<!-- the homepage -->
<div class="align-items-center">
  <img style="width: 100%;position: relative;"
    src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Home-1.jpg" class="img-fluid">
  <!-- the div inside the image -->
  <div id="banner1div" class="col-lg-3 col-sm-12">
    <div style="margin-top: 10px;">
      <label id="p1">Choose Class</label><br>
      <label id="p2">over the common</label>


    </div>
    <a id="college" style="position: absolute;" href="#">
      <span>acecraft for colleges</span>
      <span><i id="collegeid" class="fa-solid fa-chevron-right"></i></span>
    </a>
  </div>

  <!-- start of second layer -->
  <div id="twocards" class=" flex">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="card  d-flex justify-content-center align-items-center" style="width: 100%;">
          <img class="card-img-top  img-fluid"
            src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home3.jpg" alt="Card image cap">
          <div class="card-img-overlay text-center">
            <div id="l3card" class="col-lg-6 offset-lg-3">
              <p class="card-text text-secondary fs-3 fw-lighter ">A grade</p>
              <p class="card-text text-secondary fs-2 fw-bold ">of Greatness.</p>
            </div>
            <div class="card-text">
              <a id="college" href="#">
                <span>acecraft for schools</span>
                <span><i id="collegeid" class="fa-solid fa-chevron-right"></i></span>
              </a>
            </div>
          </div>
          <!-- <a href="#">Ace</a> -->
        </div>
      </div>

      <div class="col-lg-6 col-sm-6">
        <div class="card" style="width: 100%;padding: 0px;">
          <img class="card-img-top img-fluid"
            src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home4.jpg" alt="Card image cap">

          <div class="card-img-overlay text-center">
            <div id="l3card" class="col-lg-6 offset-lg-3">
              <p class="card-text text-secondary fs-3 fw-lighter ">workwear</p>
              <p class="card-text text-secondary fs-2 fw-bold ">redefined</p>
            </div>
            <div class="card-text">
              <a id="college" href="#">
                <span>acecraft for enterprises</span>
                <span><i id="collegeid" class="fa-solid fa-chevron-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- two cards 3rd layer -->
  <div class="container">


  </div>