<img style="width: 100%;" src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Home-1.jpg"
    class="img-fluid">
<div id="twocards" class=" flex">
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="card" style="width: 100%;">
                <img class="card-img-top img-fluid" src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home3.jpg" alt="Card image cap">
                <!-- <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div> -->
              </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="card" style="width: 100%;">
                <img class="card-img-top img-fluid" src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home4.jpg" alt="Card image cap">
                <!-- <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div> -->
              </div>
        </div>
    </div>
</div>