#honda{
    text-transform: uppercase;
}

#layer1enter{
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* the cards layer */
#cardslayer{
    background-color: #dadada;
    padding: 3%;
}

/* for the p tags */
#cardslayer p{
    font-size: 15px;
    line-height: 15px;
}

#cardslayer .card{
    /* background-image: url(https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-2.png) !important; */
    background-position: center !important;
    /* background-size: 180%; */
    max-width: 300px;
    margin: auto;
    height: 300px;
    justify-content: center;
    color: #978989;
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 6px 6px;
}

#cardslayer .card:hover{
    transform: scale(0.9);
}

.c-gray{
    color: #978989;
}

/* for the timeline */
.custom-marker{
    padding: 3px;
    font-size: 18px;
}

.p-timeline-event{
    padding-left: 30px !important;
}

.timeline{
    overflow-x: hidden !important;
    background-color: black;
    border: none !important; 
}

.card{
    border: none;
    background-color: black;
}

.timeline .row:nth-child(1){
    height: 15vh;
    font-size: 35px;
    font-weight: bolder;
    color: #978f8f;
}

.timeline .row:nth-child(2){
    width: 100%;
    --bs-gutter-x: none;
    height: 50vh;
    background-color: black;
}

#final-layer{
    background-color: black;
}
#final-layer .row{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;

}

/* get in touch layer*/
#final-layer .container{
    justify-content: center;
    text-align: center;
    position: absolute;
   
 
 }


 #layer5content{
    margin-top: -700px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    height: 180px;
    color: #978f8f;
 }
 
 #line1 {
     font-size: 15px;
     margin-bottom: 0 !important;
 }
 
 #line2 {
     font-size: 18px;
 }
 
 #line3 {
     font-size: 15px;
     font-family: 'Courier New', Courier, monospace;
 }

#getintouch {
    border: 1px solid white;
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    font-weight: 600
}