
<div id="navbar" class="card justify-content-center flex flex-wrap align-items-center container-fluid sticky-top">
    <a class="mt-3" id="acecraft" href="#">acecraft</a>
<p-tabMenu  [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
<span class="flex flex-row ml-auto px-5">
<i class="pi pi-cog px-3 "(mouseleave)="dropdownVisible = true"  (mouseover)="dropdownVisible = false" style="color: white;margin-top: -35px;font-size: 1.5em;"></i>
<i class="pi pi-shopping-cart  px-3" pBadge value="0" style="color: white;margin-top: -35px;font-size: 1.5em;"></i>
<ul [hidden]="dropdownVisible" (mouseover)="dropdownVisible = false" (mouseleave)="dropdownVisible = true" class="dropdown ">
    <li><a routerLink="signin">Sign-In</a><i class="fa-solid fa-right-to-bracket"></i></li>
    <li><a routerLink="register">Register</a><i class="fa-solid fa-user-plus"></i></li>
    <li><a >Order Status</a><i class="fa-solid fa-box-archive"></i></li>
    <li><a href="">Contact</a><i class="fa-solid fa-comments"></i></li>
    </ul>
</span>
</div>






   
