<div class="container-fluid" id="layer1">
    <div class="row">
        <div class="col-lg-5 offset-lg-6">
            <div id="content" class="text-lg-end text-md-center">
                <h1>The acecraft Collection</h1>
                <p class="content1">
                    Simple.Sharp
                </p>
                <p class="content1">
                    Detailed perfection that makes you
                </p>
                <p class="content1">
                    look good and feel great. Put it on. It's like magic.
                </p>

                <p id="cas">
                    Classic | Absolute | Signature
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #b3b3b4;">

    <div class="container">
        <div class="row justify-content-center">
            <img class="img-fluid col-lg-4  text-center mt-5" height="200"
                src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/woolen-ball.jpg" alt="woolenball">
            <h2 class="text-center">Naturally Cutting-Edge.</h2>
            <p id="nce_para" class="col-lg-4 text-center text-black">The ‘best of both worlds’ has a new definition.
                Every fabric in the acecraft line-up is made from a blend
                of two fibres to give you the best range. No tech involved - it’s just the touch of nature. </p>
        </div>

        <div class="row " style="padding-top: 50px;padding-bottom: 50px;">
            <div class="col-lg-6 text-center" height="200">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Wool.png" height="200" alt="">
            </div>

            <div class="col-lg-6 p-5 ">
                <h1>The Blended Wool</h1>
                <p style="font-size: 15px;" class="col-lg-8 ">The Blended Wool is a class apart - with a mix of
                    polyester for its wrinkle/crease-resistance and wool for warmth and absorbency, end your day looking
                    the same as how you began it.</p>
            </div>

        </div>

        <div class="row" style="padding-top: 50px;padding-bottom: 50px;">
            <div class="col-lg-5 p-5 offset-lg-1">
                <h1>The Blended Cotton</h1>
                <p style="font-size: 15px;" class="col-lg-10 ">The Blended Cotton is extremely strong and breathable.
                    Easy to iron, this variant shrinks lesser than pure cotton and retains its colour, which makes it a
                    favourite choice for your everyday college wear.</p>
            </div>

            <div class="col-lg-5 text-center" height="200">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Cotton.png" height="200" alt="">
            </div>
        </div>

        <div class="row " style="padding-top: 50px;padding-bottom: 50px;">
            <div class="col-lg-6 text-center" height="200">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Viscose.png" height="200"
                    alt="">
            </div>

            <div class="col-lg-6 p-5 ">
                <h1>The Blended Viscose</h1>
                <p style="font-size: 15px;" class="col-lg-10 ">The Blended Viscose addition combines two ends of the
                    spectrum - durability and a sense of softness. While the polyester contributes to resilience and
                    shape retention, the viscose adds on to the overall absorbency, both sharpening and softening your
                    look at the same time.</p>
            </div>

        </div>
    </div>
</div>

<!-- the sublayer -->
<div class="container-fluid" style="background-color: #b3b3b4;" id="sublayer">
    <div id="#banner-container" class="container" style="padding-bottom: 60px;">
        <div class="card">
            <img src="assets/images/making-banner.jpg" class="card-img " alt="...">
            <div id="sublayercontent" class="card-img-overlay text-center offset-lg-4 col-lg-4">
                <p class="card-text ">The ACECRAFT FIT</p>
                <h1 class="card-text fw-bolder">Comfy.</h1>
                <h1 class="card-text fw-bolder">Very Comfy.</h1>
                <p class="card-text ">It’s not just the fabric - it’s also the fit.The shoulders and sleeves fit right
                    while the body feels relaxed, making it undoubtedly the best.</p>

            </div>
        </div>
    </div>
</div>

<!-- the carousel layer -->
<div class="container-fluid bg-dark" id="carosel-layer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="offset-lg-2 col-lg-7 py-5">
                    <h2 >
                        Your pre-trial.</h2>
                        <h2 >Powered by our AI.</h2>

                        <p>The acecraft Measurement Process is one among the world's most accurate methods. We set up a pre-trial event in your campus and make each one try on the right fit. No more guessing the right size business.</p>
                    
                </div>
            </div>
           

            <div class="col-md-7">
             
                <!-- <a href="college-carousel" data-bs-target="college-carousel" data-bs-slide="prev">Sri</a> -->
                <div id="college-carousel" class="carousel slide py-5" data-bs-ride="carousel" >
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="3000">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Screenshot%202019-09-14%20at%202.16.47%20PM.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="4000">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Screenshot%202019-09-14%20at%202.15.49%20PM.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="4000">
                        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Screenshot%202019-09-18%20at%204.06.18%20PM.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>
            </div>

        </div>
    </div>

</div>

<!-- the layer 3 -->
<div id="layer3" class="container-fluid">
    <div class="container">
        <div class="text-center" id="layer3content">
            <p id="line1">
                Designer Uniforms
            </p>

            <p id="line2">
                by
            </p>

            <p id="line3">acecraft</p>

            <p><button id="getintouch" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get In Touch</button></p>
        </div>

    </div>

</div>




<!-- modal for contact form -->
<div class="align-items-center row">
    <div class="modal fade mx-auto" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header ">
                    <h1 class="modal-title " id="staticBackdropLabel">Get your Uniforms designed and styled by Us!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" id="gitouch">
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <!-- <i style="position: absolute;margin-top: 20px;" class="fa fa-user icon">
                                    </i> -->
                                    <input type="text" class="form-control text-center" id="firstname"
                                        placeholder="First Name">
                                    <label for="floatingInputGrid">First Name</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                                    <label for="floatingInputGrid">Last Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 mt-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email"
                                        placeholder="Professional Email">
                                    <label for="floatingInputGrid">Professional Email</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 mt-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="org" placeholder="Organisation">
                                    <label for="floatingInputGrid">Professional Email</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 mt-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone No.">
                                    <label for="floatingInputGrid">Phone No.</label>
                                </div>
                            </div>
                        </div>


                        <div class="row g-2 mt-2 d-flex ml-3">
                            <p>Quantity Required</p>
                            <div class="form-check col-lg-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="lowsets">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    10 - 50 Sets
                                </label>
                            </div>
                            <div class="form-check col-lg-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="mediumsets"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    51 - 100 Sets
                                </label>
                            </div>
                            <div class="form-check col-lg-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="highsets"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    100+ Sets
                                </label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary col-12 rounded-pill">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>