<div class="container-fluid" id="layer1">
    <div class="row">
        <div class="col-lg-5 offset-lg-6">
            <div id="content" class="text-lg-end text-md-center">
                <h1>The acecraft Collection</h1>
                <p class="content1">
                    Simple.Sharp
                </p>
                <p class="content1">
                    Detailed perfection that makes you
                </p>
                <p class="content1">
                    look good and feel great. Put it on. It's like magic.
                </p>

                <p id="cas">
                    Classic | Absolute | Signature
                </p>
            </div>
        </div>
    </div>
</div>

<div id="layer3" class="container-fluid">
    <div class="container">
        <div class="text-center" id="layer3content">
            <p id="line1">
                Designer Uniforms
            </p>

            <p id="line2">
                by
            </p>

            <p id="line3">acecraft</p>

            <p><button id="getintouch"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get In Touch</button></p>
        </div>

    </div>

</div>


<!-- modal for contact form -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>