a {
    font-size: 15px;
}

#layer1-school {
    background-image: url(https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-1.jpg);
    background-size: cover;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.row .layer1-content {
    padding-top: 300px;
    padding-bottom: 200px;
    color: #978f8f;
}

/* the second layer */
.row .layer2text {

    font-size: 40px;
    color: #978f8f;
    line-height: 43px;

    padding-top: 300px;
    padding-bottom: 300px;
}

/* for the layer3 */
#layer3 {
    background-image: url(https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: auto 90vh; */
    background-size: cover;
}

#layer3 .layer3content {
    padding-top: 500px;
    padding-bottom: 300px;
}

#layer3 .layer3content2 {
    padding-bottom: 300px;
}

#layer3 .layer3content2 p {
    font-size: 40px;
    line-height: 40px;

}

/* for the layer 4 */
#layer4{
    color: #978f8f;
    background-color: #0e0c0d;
}

#layer4 p{
    font-size: 24px;
}

#layer4 img{
    height: auto;
    width: 95%;
    
}

/* for the fifth layer */

#layer5{
    background-image: url(https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-41.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content h1{
    text-align: center;
    color: #978f8f;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}


 .content h2:nth-child(odd){
    text-align: center;
    color: #978f8f;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 600;
    
}
 .content h2:nth-child(2){
    text-align: center;
    font-family: byFont;
    color: #978f8f;
    font-size: 30px; 
    font-weight: 100;
}

#ace{
    text-align: center;
    color: #978f8f;
    font-size: 25px; 
    text-align: center;
    letter-spacing: 3px;
    font-weight: 100;
    font-family:'Courier New', Courier, monospace;
}

.content p{
    color: #978f8f;
}

.content button{
    background: transparent;
    border: 1px solid white;
}

#getintouch {
    border: 1px solid white;
    background-color: transparent;
    font-size: 15px;
    padding: 12px;
    font-weight: 600;
    text-align: center;
}

.modal-header .modal-title {
    text-align: center !important;
    font-size: 24px !important;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    margin: 15px auto 0 !important;
    width: 400px;
}

/* <=======================Media Queries=======================> */
@media only screen and (min-width : 320px) and (max-width:560px) {

    a {
        font-size: 11px;
    }





}