<div class="container-fluid">
    <div class="grid text-center bg-white justify-content-center">
        <div class="col-2 md:col-2 lg:col-1 mt-lg-4" *ngFor="let school of schoolsList">
            <a routerLink="/browse" class="text-center text-black">
                <img height="45" src="{{school.image}}" alt="logo" class=""><br>
                <label>{{school.name|uppercase}}</label>
            </a>

        </div>


    </div>

    <div class="row" id="layer1-school">
        <div class="layer1-content">

            <h1 class="text-center">Designer uniforms for the doers.</h1>

        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="row">

        <div class="bg-black text-secondary text-center layer2text">
            <p>
                Aesthetically advanced,
            </p>
            <p>
                our designer uniforms are a cut above the rest,
            </p>

            <p>
                in every sense of the word.
            </p>

        </div>




    </div>
</div>

<div class="container-fluid" id="layer3">
    <div class="layer3content row">
<h1 class="text-center">Perfection. Now delivering to your doorstep.</h1>
    </div>

    <div class="layer3content2 row text-center">
        <p>Less hassle. More hustle.</p>
        <p>Our end-to-end e-commerce facility with</p>
        <p><b> superior technology enables us to</b></p>
        <p><b>deliver your order right to your doorstep.</b></p>
    </div>

</div>

<div class="container-fluid " id="layer4">
<div class="container">
    <div class="row text-end pt-5">
<h1>Be at ease.</h1>
<h1>Everyday.</h1>

<p >Our uniforms keep your children looking great</p>
   <p> from the first day of school until the end-of-the-year picnic.</p>
    </div>

    <div class="container text-center">
        <img bind-src="imgEnd" class="img-fluid" alt="">
    </div>
</div>
</div>

<div class="container-fluid" id="layer5">
    <!--Yet to be finished-->
</div>